[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-utils-six = "*"
pymupdf = "*"
pillow = "*"
six = "*"
django-browser-reload = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
