{% extends 'filesystem/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static '/filesystem/index.css' %}">
{% endblock %}
{% block content %}
    <div class="heading">
        <p class="custom-button"><a href="{% url 'filesystem:upload_list' %}">Previous Page</a></p>
        <form>
            <input class="submit-input" type="text" placeholder="Make your search here..." name="q">
            <input class="submit-buttom" type="submit" value="Search">
        </form>   
        <p class="custom-button"><a href="{% url 'authentication_app:logout' %}">logout</a></p>
    </div>
    <div class="main">
        <div>
            {% if files %} 
                {% for file in files %}
                    <p>
                        <a href="{{ file.get_absolute_url }}">{{ file.title }}</a>
                    </p>
                {% endfor %} 
            {% else %}
                    <p>No results found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}