{% extends 'filesystem/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/filesystem/style.css' %}">
    <link rel="stylesheet" href="{% static '/filesystem/index.css' %}">
{% endblock %}
        
{% block content %}
    <p class="custom-button">
        <a href="{% url 'filesystem:upload_list' %}">
        Previous Page
        </a>
    </p>
    <div>
    <h2>Send File</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="custom-button" type="submit" value="Send">
    </form>
{% endblock %}