{% extends 'filesystem/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'filesystem/index.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <h3>
            <p>Hello, <em class="user">{{ user.first_name}}</em></p>
        </h3>
        <div>
            <div class="nav-button">
                <button class="main-button">Navigation</button>
                <div class="sub-options">
                    <a href="{% url 'filesystem:search' %}">Search files</a>
                    {% if user.is_superuser %}
                        <a href="{% url 'filesystem:logs' %}">logs</a>
                        <a href="{% url 'filesystem:upload_file' %}">Upload files</a>
                    {% endif %}
                    <a href="{% url 'authentication_app:logout' %}">logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="SuperAdmin">
        
    </div>
    <div class="main">
        <h1>List of files</h1>
        <p>
        <div>
            {% for file in files %}
                <p>
                    <span class="file_label">
                        {% if file.file.name|lower|slice:'-3:' == 'pdf' %}
                            <img class="icon" src="{% static 'icons/pdf.png' %}">
                        {% elif file.file.name|lower|slice:'-3:' == 'jpg' or file.file.name|lower|slice:'-3:' == 'jpeg' or file.file.name|lower|slice:'-3:' == 'png'%}
                            <img class="icon" src="{% static 'icons/jpg.png' %}">
                        {% elif file.file.name|lower|slice:'-3:' == 'doc' or file.file.name|lower|slice:'-3:' == 'docx' %}
                            <img class="icon" src="{% static 'icons/text.png' %}">
                        {% elif file.file.name|lower|slice:'-3:' == 'xls' or file.file.name|lower|slice:'-3:' == 'xlsx' %}
                            <img class="icon" src="{% static 'icons/xls.png' %}">
                        {% elif file.file.name|lower|slice:'-3:' == 'mp4' %}
                            <img class="icon" src="{% static 'icons/mp4.png' %}">
                        {% elif file.file.name|lower|slice:'-3:' == 'mp3' %}
                            <img class="icon" src="{% static 'icons/mp3.png' %}">
                        {% else %}
                            <img class="icon" src="{% static 'icons/default_icon.png' %}" alt="default thumbnail">
                        {% endif %}
                        {% if file.file.name|lower|slice:'-3:' == 'pdf' %}
                            <a href="{% url 'filesystem:open_page' file.id %}">{{ file.title }}</a>
                        {% else %}
                            <a href="{% url 'filesystem:preview' file.id %}">{{ file.title }}</a>
                        {% endif %}
                    </span>
                    {% if user.is_superuser %}
                    <em class="button-01">
                        <a href="{% url 'filesystem:delete_file' file.pk %}">Delete</a>
                    </em>
                    {% endif %}
                </p>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}