{% extends 'filesystem/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'authentication_app/style.css' %}">
{% endblock %}

{% block content %}
<div>
    <div class="brand-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.3" x="3" y="10" width="18" height="4" rx="2" fill="currentColor" />
            <rect x="7" y="10" width="10" height="4" rx="2" fill="currentColor" />
        </svg>
    </div>
    <h2>Password Reset Complete</h2>
    <p>Your password has been reset successfully.</p>
    <p>Please click on the login button to log into your account with your new password</p>
    <button>
        <a href = "{% url 'authentication_app:login' %}">
            Log In
        </a>
    </button>
</div>
{% endblock %}