{% extends 'filesystem/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'authentication_app/style.css' %}">
{% endblock %}

{% block content %}
    <div class="brand-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.3" x="3" y="10" width="18" height="4" rx="2" fill="currentColor" />
        <rect x="7" y="10" width="10" height="4" rx="2" fill="currentColor" />
      </svg>
    </div>
    Hello {{ user.email }},

        <p>You are receiving this mail because you a request to reset the password for your account for this email address.</p>
        <p>Click the link below to reset password.</p>
        <p><a href="http://{{ domain }}/reset/{{ uid }}/{{ token }}">http://{{ domain }}/reset/{{ uid }}/{{ token }}</a></p>

        <p>This link can only be used once. If you need to reset your password again; 
            Please visit <a href="{{ protocol }}://{{ domain }}/password_reset">link</a> and request another resets.</p><span> Please visit <a href="{{ protocol }}://{{ domain }}/password_reset">link</a></span>

        <p>If you did not make this request, you can simply ignore this email.</p>

        <p>Sincerely,</p>
        <p>{{ domain }} Team.</p>
{% endblock %}
<!-- check here again... -->authentication_app/password_reset