{% extends 'filesystem/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'authentication_app/style.css' %}">
{% endblock %}

{% block content %}
  <div>
    <div class="brand-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.3" x="3" y="10" width="18" height="4" rx="2" fill="currentColor" />
        <rect x="7" y="10" width="10" height="4" rx="2" fill="currentColor" />
      </svg>
    </div>
    <h1>Password Reset Confirmation</h1>
    <p>Hello {{ user.email }}, please enter your new password below</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button_01" type="submit">update Password</button>
    </form>
  </div>
{% endblock %}
